@import "tailwindcss";

@font-face {
  font-family: "Eudoxus-sans";
  src: url("/fonts/EudoxusSansGX.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Necosmic";
  src: url("/fonts/Necosmic.otf") format("opentype");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/* Recommended CSS for Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: "Necosmic";
}

p,
a,
label,
input,
button,
span {
  font-family: "Eudoxus-sans";
}

/* Marquee scroll left */
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Marquee scroll right */
@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply animations */
.marquee-left {
  display: inline-flex;
  animation: marquee-left 50s linear infinite;
}

.marquee-right {
  display: inline-flex;
  animation: marquee-right 50s linear infinite;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px; /* vertical scrollbar width */
  height: 10px; /* horizontal scrollbar height */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
  border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #333; /* thumb color */
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* optional: spacing around thumb */
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
