.about {
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;

    p:nth-child(1) {
      padding: 0 15px;
    }

    .heading {
      font-size: 48px;
    }

    .sub-text {
      font-size: 18px;
    }
  }

  @media (max-width: 1200px) {
    gap: 30px;

    p:nth-child(1) {
      padding: 0 20px;
    }

    .heading {
      font-size: 52px;
    }

    .sub-text {
      padding: 20px;
      font-size: 20px;
    }
  }
}
