.mobile {
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 5px 15px;

      p {
        display: none;
      }
    }
    .menu {
      gap: 10px;
      padding-right: 15px;
    }
  }

  @media (max-width: 1200px) {
    .nav {
      padding: 5px 15px;
      p {
        padding-left: 100px;
      }
    }

    .menu {
      gap: 10px;
      padding-right: 15px;
    }
  }
}
